<!doctype html>
<html lang="en">
  <head>
    <title>Number Guessing Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Number Guessing Game</h1>
    {% if message %}
      <p>{{ message[0] }}</p>
      {% if message[1] %}
        <p>{{ message[1] }} {{ message[2] }}</p>
      {% endif %}
    {% endif %}
    {% if game_over %}
      <a href="{{ url_for('guess') }}">Play again</a>
    {% endif %}
  </body>
</html>
